@import mixins/_colors

@import url("/resources/fonts/Silka/silka_stylesheet.css")
@import url("/resources/fonts/Archia/archia_stylesheet.css")

$head-margin: 100px

:not(.no-animate)
  transition: 0.4s ease-in-out

html, body
  width: 100vw
  height: 100vh
  overflow-x: hidden
  font-family: Archia, sans-serif

.viewport
  position: relative

.dark
  background: $dark
  color: $light

.text-muted
  color: #AAA !important

.xxxx
  height: 16px

.mockup
  width: 500px

.archia
  font-family: Archia, sans-serif

.silka
  font-family: Silka, sans-serif

.gradient-text
  color: $accent-blue
  background: $blocks-gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

#arrow
  position: absolute
  right: 0
  margin-bottom: -40px
  margin-right: -60px
  bottom: 0
  background: $light
  padding: 20px

.logo_container
  width: calc(100vh - 60px)
  position: absolute
  left: 0
  margin: -80px
  padding: 20px
  top: 0

.mostscreen
  width: 100vw
  height: 80vh

.gradient-top-border
  position: relative

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin-top: -2px
    background: $blocks-gradient-straight
    z-index: -1

.gradient-border-round
  position: relative
  border-radius: 7px

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: -2px
    border-radius: 9px
    background: $blocks-gradient
    z-index: -1

#logo_head
  width: 350px
  background: $light
  padding: 20px

#full-head
  position: relative
  width: calc(100vw - ($head-margin * 2))
  height: calc(95vh - ($head-margin * 2))
  margin: $head-margin
  background: $light

  &:after
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: #DDD
    opacity: 0
    margin: -1px
    z-index: -1
    animation: fade-in 2s 5s forwards

#block_mockup
  width: 70%
  flex-grow: 1

#macbook-mockup
  transform: translateX(350px) scale(1.2)

#cta
  width: 0
  height: 0
  animation: display-later 1s ease-in-out 2s
  animation-fill-mode: forwards

#dfinity-logo
  height: 32px

.btn-gradient
  position: relative
  border-radius: 7px
  background: $light

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    margin: -3px
    border-radius: 9px
    background: $blocks-gradient

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@keyframes display-later
  from
    width: 0
    height: 0
  to
    width: inherit
    height: inherit

@media(max-width: 768px)
  #block_mockup
    width: 90% !important

  #logo_head
    width: 70% !important


