@import "bootstrap/scss/bootstrap"

@import mixins/_colors

@import url("/resources/fonts/Silka/silka_stylesheet.css")
@import url("/resources/fonts/Archia/archia_stylesheet.css")

$head-margin: 100px
$head-mobile-margin: 20px

html, body
  width: 100vw
  height: 100vh
  overflow-x: hidden
  font-family: Archia, sans-serif

a
  color: $accent-blue

  &:hover
    color: $accent-blue
    opacity: 0.8

.viewport
  position: relative

.font-weight-light
  font-weight: 300

.no-select
  user-select: none

.dark
  background: $dark
  color: $light

.text-muted
  color: #AAA !important

.top-decor
  height: 16px

.archia
  font-family: Archia, sans-serif

.silka
  font-family: Silka, sans-serif

.gradient-text
  display: inline-block
  color: $accent-blue
  background: $blocks-gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.circle-num
  max-width: 150px

.s2-tile
  min-width: 300px

.grid-columns
  display: grid
  gap: 2em

#arrow
  position: absolute
  right: 0
  bottom: 0
  background: $light
  padding: 20px

.logo_container
  width: calc(100vw - 60px)
  position: absolute
  left: 0
  top: 0

.mostscreen
  width: 100vw
  min-height: 80vh

.gradient-top-border
  position: relative
  margin-bottom: 2px

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 2px
    margin-top: -2px
    background: $blocks-gradient-repeat
    width: 200%
    z-index: -1
    animation: scroll 5s infinite linear
    animation-delay: 1ms /** Improves performance on Safari **/

.bump
  animation: bump 0.7s ease-in-out

.delay-1s
  animation-delay: 0.5s

.delay-2s
  animation-delay: 1s

.gradient-border-round
  position: relative
  border-radius: 7px

.card-ish
  border: 1px solid #EEE
  border-radius: 2rem
  background: #FFFFFF
  box-shadow: 5px 5px 10px #F1F1F1

.hover-scale
  transition: 0.3s
  &:hover
    transform: scale(1.1)


.untranslate
  animation: untranslate 0.7s ease-in-out forwards

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: -2px
    border-radius: 9px
    background: $blocks-gradient
    z-index: -1

#logo_head
  width: 300px
  background: $light
  padding: 20px

#full-head
  position: relative
  width: calc(100vw - ($head-mobile-margin * 2))
  height: calc(95vh - ($head-mobile-margin * 2))
  margin: $head-mobile-margin
  background: $light

  &:after
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: $light
    opacity: 0
    margin: -1px
    z-index: -1
    animation: fade-in 2s 5s forwards

#block_mockup
  width: 100%

#macbook-mockup
  transform: translateX(100px)
  width: 300px
  opacity: 0

#cta
  max-width: 0
  max-height: 0
  animation: display-later 1s ease-in-out 1s forwards

#dfinity-logo
  height: 24px

#footer-blocks-icon
  height: 48px
  pointer-events: none

#footer
  margin-bottom: 0
  background: linear-gradient(#022030, #00131C)

#inline-editor
  min-height: 500px

.btn-gradient
  position: relative
  border-radius: 7px
  background: $light

  &.dark
    background: $dark

  &:disabled
    opacity: 1
    background: #F0F0F0
    color: #888

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    margin: -3px
    border-radius: 9px
    background: $blocks-gradient

  &:hover
    opacity: 1

@keyframes scroll
  from
    transform: translateX(0)
  to
    transform: translateX(-100vw)

@keyframes untranslate
  from
    transform: translateX(100)
    opacity: 0
  to
    transform: translateX(0)
    opacity: 1

@keyframes bump
  0%
    transform: scale(1)
  45%
    transform: scale(1.1)
  55%
    transform: scale(1.1)
  100%
    transform: scale(1)

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@keyframes display-later
  from
    max-width: 0
    max-height: 0
  to
    max-width: 400px
    max-height: 200px

@media(min-width: 992px)
  .grid-columns
    grid-auto-flow: column
    grid-auto-columns: 1fr

  .logo_container
    margin: -80px
    padding: 20px

  #arrow
    margin-bottom: -40px
    margin-right: -60px

  #block_mockup
    width: 70% !important

  #macbook-mockup
    width: 500px

  #logo_head
    width: 500px !important

  #dfinity-logo
    height: 32px

  p
    font-size: 1.2rem

  #full-head
    width: calc(100vw - ($head-margin * 2))
    height: calc(95vh - ($head-margin * 2))
    margin: $head-margin

    &:after
      background: #DDD

@media(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
  .font-weight-light
    font-weight: 100 !important


